.wrap {
  display:flex;
}

input[type="text"] {
  border: none;
  box-sizing: border-box;
  outline: none;
  flex-grow: 2;
  font-weight: var(--font-weight-7);
  color: var(--primary);
  font-size: inherit;
}



