.container {
  /* padding: var(--padding); */
}

.wrapper {
  overflow:hidden;
  border: var(--space-xxs) solid var(--color-gray-1);
  width: var(--space-xxl);
  border-radius: 100%;
  display: inline-block;
}

.aspect-ratio {
  height: 0;
  position: relative;
  padding-bottom:100%;
}

.media {
  background-size: cover !important;
  border-radius: 100%;
  border: var(--space-xxs) solid var(--color-white);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

