:root {
  --font-primary: sans-serif;
  --font-secondary: serif;

  --font-weight-1: 100;
  --font-weight-7: 700;

  --font-light: var(--font-weight-1);
  --font-bold: var(--font-weight-7);

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.3;

  /* type scale */
  --text-xxs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-xs: calc(1em / var(--text-scale-ratio));
  --text-sm: calc(1em * var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* spacing values */
  --space-unit: 1em;
  --space-xxs:  calc(0.25 * var(--space-unit));
  --space-xs:   calc(0.5 * var(--space-unit));
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1.25 * var(--space-unit));
  --space-lg:   calc(2 * var(--space-unit));
  --space-xl:   calc(3.25 * var(--space-unit));
  --space-xxl:  calc(5.25 * var(--space-unit));

  /* radius */
  --radius-lg: 20px;

  /* color */
  --hue-primary: 0;
  --hue-secondary: 0;
  --hue-black: 0;

  --color-primary: hsl(var(--hue-secondary), 0%, 60%);
  --color-secondary: hsl(var(--hue-secondary), 68%, 60%);
  --color-tertiary: var(--color-black);

  /* shades */
  --color-black: hsl(var(--hue-black), 0%, 0%);
  --color-gray-4: hsl(var(--hue-black), 0%, 20%);
  --color-gray-3: hsl(var(--hue-black), 0%, 40%);
  --color-gray-2: hsl(var(--hue-black), 0%, 60%);
  --color-gray-1: hsl(var(--hue-black), 0%, 85%);
  --color-white: hsl(var(--hue-black), 0%, 100%);



}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--font-color-primary)
}
